<div>
    <h2>
        <span jhiTranslate="boyuanStoreApp.wishList.home.title">Wish Lists</span>
        <button class="btn btn-primary float-right create-wish-list" [routerLink]="['/', { outlets: { popup: ['wish-list-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="boyuanStoreApp.wishList.home.createLabel">
            Create new Wish List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="wishLists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="boyuanStoreApp.wishList.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span jhiTranslate="boyuanStoreApp.wishList.createDate">Create Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="body"><span jhiTranslate="boyuanStoreApp.wishList.body">Body</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="newField"><span jhiTranslate="boyuanStoreApp.wishList.newField">New Field</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="boyuanStoreApp.wishList.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wishList of wishLists ;trackBy: trackId">
                <td><a [routerLink]="['../wish-list', wishList.id ]">{{wishList.id}}</a></td>
                <td>{{wishList.name}}</td>
                <td>{{wishList.createDate | date:'mediumDate'}}</td>
                <td>{{wishList.body}}</td>
                <td>{{wishList.newField}}</td>
                <td>
                    {{wishList.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../wish-list', wishList.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wish-list/'+ wishList.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wish-list/'+ wishList.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="wishLists && wishLists.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
